nav button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: inherit;
}

nav img.fit-to-nav {
  height: 2.5rem;
  margin-top: .9rem;
}

nav div.fit-to-nav {
  height:4.3rem;
}

